
<div *ngIf="workhistory">
    <h2><span>Workhistory</span> {{workhistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Company Name</span></dt>
        <dd>
            <span>{{workhistory.companyName}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{workhistory.location}}</span>
        </dd>
        <dt><span>Position</span></dt>
        <dd>
            <span>{{workhistory.position}}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
            <span>{{workhistory.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{workhistory.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Job Description</span></dt>
        <dd>
            <span>{{workhistory.jobDescription}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'workhistory/'+ workhistory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
